@font-face {
    font-family: 'Chramonman';
    font-style: normal;
    src: url(./../fonts/Charmonman-Regular.ttf)
}

@font-face {
    font-family: 'Charmonman';
    font-style: bold;
    src: url(./../fonts/Charmonman-Bold.ttf)
}